@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Pagina Restrita";
}

<h1>Voce Não Tem Permissão para Acessar esta Pagina, <a asp-controller="Home" asp-action="Index">Clique aqui para Voltar.</a></h1>
