@model UsuarioModel
@{
    ViewData["Title"] = "Confirmação de Exclusão do Usuario";
}

<div class="text-center">
    <h3>Realmente Deseja Apagar o Usuario "@Model.Nome" ?</h3>
</div>

<a class="btn btn-primary btn-block" asp-controller="Usuario" asp-action="Apagar" asp-route-id="@Model.Id" role="button">Confirmar Exclusão</a>
<a class="btn btn-danger btn-block" asp-controller="Usuario" asp-action="Index" role="button">Cancelar Exclusão</a>